/* author - deepak tiwari */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
  
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}
  
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}
  
.container .tenor-gif-embed {
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.btn a:hover {
    transform: scale(1.05);
}

/* Custom CSS to hide Tenor embed hover icons for Facebook, Twitter and remove tenor */
.container .tenor-gif-embed .tc-overlay,
.container .tenor-gif-embed .tc-share,
.container .tenor-gif-embed .tc-close {
    display: none !important;
}
